@media (max-width: 480px) {
    .containerEntriesData {
        justify-content: center;
        width: 90%;
        align-items: center;
    }

    .containerStatusTasks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;
        width: 100%;
    }

    #confirmacaoDeRemocaoDeTask {
    width: 20rem;
    background-color: white;
    padding: 0.4rem 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
  }
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .containerTasks {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .container {
        margin: 2vh;
        gap: 3vh;
    }
}